<article class="post">
    <div class="full-post">
        <div class="section"></div>
            <div class="post-title">
                <a href="/post/{{id}}" class="link" target="_blank">{{title}}</a>
            </div>
            <div class = "created-by">
                <p id = "subtitle">
                    Posted by {{user.username}} on {{formatDate created_at}}
                </p>
            </div>
        </div>
  <div class="content">
    <p>{{content}}</p>
  </div>
</div>
</article>